body{
  
}
#root{
  min-height: 100vh;
}
#container{
  display: grid;
  grid-template-columns: repeat(auto, minmax(400px,1fr));
  min-height: 100vh;
}
#profile-container{
  background-color: #f4f4f4;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
}
#details{
  background-color: #fff;
  grid-column-start: 2;
  grid-column-end: 6;
}
#profile-info{
  margin-top: 200px;
  padding: 15px;
  display: flex;
  position: fixed;
  flex-direction: column;
}
#profile-image{
  width: 13rem;
  min-height: 13rem;
  margin: auto;
  border-radius: 50%;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/tejus-dev.appspot.com/o/tejus-square-min.jpeg?alt=media&token=16b354cc-8928-42a8-bca0-fbf9f508aba0');
  background-size: cover;
  background-repeat: no-repeat;
}
#content{
  margin: auto;
}
#content>h3{
  text-align: center;
  color: #1e385e;
  font-weight: 300;
  margin: 5px 0px;
}
#content>h4{
  text-align: center;
  font-size: 12px;
  color: #1e385e;
  font-weight: 300;
  margin: 5px 0px;
}
#content>h5{
  text-align: center;
  font-size: 10px;
  color: #3c4e69;
  font-weight: 300;
  margin: 5px 0px;
}
#about-social{
  display: flex;
  width: 100%;
  float: right;
  justify-content: space-between;
}
#gmail-image{
  margin: 8px 0px;
  min-height: 34px;
  min-width: 34px;
  background-image: url('../../images/gmail-l.png');
}
.social-icon-about{
  min-width: 30px;
  min-height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px 0px;
  filter: brightness(70%);
}
.social-icon-about:hover{
  transition: 0.2s;
  filter: brightness(50%);
}
#menu{
  margin-top: 10px;
  animation: width-animation-menu 0.5s both ease-in;
  animation-delay: 0s;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  #profile-container{
    grid-column-start: 1;
    grid-column-end: 6;
    max-height: 230px;
    min-width: 95%;
  }
  #details{
    grid-column-start: 1;
    grid-row-start: 2;
  }
  #profile-info{
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;
    min-width: 90%;
    position: sticky;
  }
  #profile-image{
    min-width: 8rem;
    max-width: 8rem;
    min-height: 8rem;
  }
  #content>h3{
    text-align: right;
    color: #1e385e;
    font-weight: 300;
    margin: 2px 0px;
  }
  #content>h4{
    text-align: right;
    margin: 2px 0px;
  }
  #content>h5{
    text-align: right;
  }
  #menu{
    margin-top: 10px;
  }
}
hr{
  border-top: 1px solid #b2b2b2;
  border-bottom: none;
}
@keyframes width-animation-menu{
  from {
    opacity: 0;
    max-width: 0%;
  }
  to {
    opacity: 1;
    max-width: 100%;
  }
}
.menu-items{
  background-color: #fff;
  border-radius: 16px;
  padding: 5px 15px 5px 15px;
  outline: none;
  border: none;
}
#render-area{
  padding: 10px;
}