.interest{
  font-weight: 300;
  padding: 3px 5px;
}
.external-link{
  color: #182742;
  text-decoration: none;
}
.external-link-image{
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  background-image: url('./../../../images/external-link.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 6px;
}
